# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

data/

db.sqlite3
